build.log
dev/results/*
!dev/results/.gitkeep
scripts/paused.conf
debian/.debhelper/*
debian/debhelper-build-stamp
debian/files
debian/camsniff/*
scripts/venv/*
debian/patches/*
debian/source/options
debian/tests/*
debian/upstream/*
venv/*
share/*
.venv/*
paused.conf
__pycache__/*