[Desktop Entry]
Type=Application
Version=1.0.4-1
Name=CamSniff Web UI
GenericName=Camera Recon Web Interface
Comment=Launch CamSniff Web UI backend
Exec=pkexec /usr/bin/camsniff-web
Icon=camsniff
Terminal=true
Categories=Network;Security;Utility;
Keywords=camera;security;network;rtsp;scan;web;
X-Kali-Package=camsniff
