[Desktop Entry]
Name=CamSniff
Comment=Automated IP camera reconnaissance toolkit
GenericName=IP Camera Reconnaissance Tool
Exec=sudo camsniff --help
Terminal=true
Type=Application
Categories=System;Security;
Keywords=Security;Camera;RTSP;Scan;Network;
StartupNotify=true
Icon=camsniff-256