#!/usr/bin/make -f
#
# https://github.com/John0n1/CamSniff
#
# Copyright (c) 2026 John Hauger Mitander
# License: MIT License https://opensource.org/license/MIT

export DH_VERBOSE ?= 1

%:
	dh $@

override_dh_auto_configure:
	# Nothing to configure

override_dh_auto_build:
	# Nothing to build

override_dh_auto_test:
	# No automated test suite during package build
